.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  justify-content: center; /* מרכז את התוכן אנכית */
  align-items: center; /* מרכז את התוכן אופקית */
}

.header1 {
  background: #282c34;
  padding: 20px;
  text-align: center;
  width: 70%; /* הגבלת רוחב ל-90% */
  max-width: 1040px; /* קביעת רוחב מרבי */
  margin: 20px 0; /* רווח סביב ה-header */

}

nav {
  display: flex;
  gap: 20px;
}

nav span {
  font-size: 1.1em;
  font-weight: 500;
  color: #fff;
  position: relative;
}

nav span::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #61dafb;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

nav span:hover::after {
  width: 100%;
}

nav a {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

nav a:hover {
  color: #4fa3d8;
  transform: scale(1.05);
}

nav a:active {
  color: #3a8fb7;
}

.Header1 .logo {
  font-size: 2.09em;
  font-weight: 700;
  color: #61dafb;
}

.Header1 .greeting {
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
