.info-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #1a1a1a, #333333);
    color: #f1f1f1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    max-width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1000;
    display: block;
  }
  
  .info-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #00e6e6;
  }
  
  .info-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background: #222222;
    color: #ffffff;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 230, 230, 0.7);
    outline: none;
  }
  
  .info-list {
    list-style: none;
    padding: 0;
  }
  
  .info-item {
    padding: 10px;
    margin: 5px 0;
    background: #444444;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 230, 230, 0.5);
    transition: transform 0.2s;
  }
  
  .info-item:hover {
    transform: scale(1.05);
    background: #00e6e6;
    color: #000000;
  }
  



  /* מחלקת קונטיינר של AddCoveragearea */
.add-coverage-area-container {
  position: absolute;
  top: -10%;
  left: -100px; /* התחל ממקום מחוץ למסך מימין */
  transform: translateY(-50%); /* שימור מרכז אנכי */
  transition: right 0.5s ease-in-out; /* אנימציה של תזוזה מצד ימין לשמאל */
  z-index: 1000; /* לוודא שהרכיב יהיה מעל רכיבים אחרים */
}

.add-coverage-area-container.show {
  left: 0; /* ברגע שמוצג, הכנס את הרכיב לתוך המסך מצד ימין */
}